---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class="font-jersey-10 inline-flex logo text-2xl select-none overflow-hidden"
  class:list={[className]}
>
  <span class="primary inline-block px-1 text-center">Tecito</span>
  <span class="secondary inline-block px-1 text-center">Hot</span>
</span>

<style is:inline>
  .logo {
    --logo-primary: #80ed99;
    --logo-primary-text: #40a02b;
    --logo-secondary: #f4d35e;
    --logo-secondary-text: #df8e1d;
  }

  .dark .logo {
    --logo-primary: #a6da95;
    --logo-secondary: #eed49f;
  }

  .logo .primary {
    background-color: var(--logo-primary);
    color: var(--logo-primary-text);
  }

  .logo .secondary {
    background-color: var(--logo-secondary);
    color: var(--logo-secondary-text);
  }
</style>
